<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Django_Portal</title>
    
    <link href="{% static 'boostrap5/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href='{% static "base/css/Articles-Cards-images.css"%}'>
    <link rel="stylesheet" href={% static "base/css/Footer-Dark-icons.css"%}>
    <link rel="stylesheet" href={% static "base/css/styles.css"%}>

</head>