{% extends 'blog/base.html' %}
{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if all_authors %}
        <ul>     
            {% for author in all_authors %}            
                <li>
                    <a href="{% url  'blog:user-post-list' author.username %}">{{ author.username }}</a>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
